*{
	margin:0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
}

.hero
{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(45deg ,#e60000 ,#ff0000 );
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	color: #fff;
}
nav{
	display: flex;
	align-items: center;
	padding:30px 0;
}
.logo
{
	width: 130px;
	padding-top: 0 px 15px;

}
nav ul
{
	flex: 1;
	text-align: right; 
}
nav ul li
{
	display: inline-block;
	list-style: none;
	padding:0px 15px ;
}
a
{
	text-decoration: none;
	color: #fff;
}
.btn{
	border: 2px solid  #fff;
	padding:6px 25px;
	border-radius: 30px;
	margin-left: 30px;

}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10%;
	justify-content: space-between;
}
.col1
{
	flex-basis: 40%;
	min-width: 300px;
	margin-bottom: 30px;
}
.col2
{
	flex-basis: 50%;
	min-width: 300px;
	margin-bottom: 30px;
}
.col1 img{
	width: 100%;

}
.col2 h1{
	font-size: 62px;
	font-weight: 500; 
}
span{
	color:  powderblue;
}
.col2 p{
	margin: 10px 5px 50px;
	max-width: 580px;
}
.col2 .btn{
	margin-left: 5px;
	margin-right: 30px;
	background: #fff;
	color: #4d19db;
	font-weight: 500; 
}
.elements{
	position: absolute;
	left: 0;
	top: 0;

}